html, body {
    background: grey;
    width: 100%;
    height: 100%;
  }
  
  h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 100px;
    text-align: center;
    line-height: 1;
    margin: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
    color: red
  }
  h1:before, h1:after,
  h1 span:before,
  h1 span:after {
    content: attr(stripes);
    position: absolute;
    overflow: hidden;
    left: 0;
    
  }
  h1:before {
    color: red;
    height: 34%;
    z-index: 5;
  }
  h1:after {
    color: white;
    height: 50%;
    z-index: 4;
  }
  h1 span:before {
    color:red;
    height: 66%;
    z-index: 3;
  }
  h1 span:after {
    color: white;
    height: 80%;
    z-index: 2;
  
  }
